body{
  margin: 5px;
}

.search{
  text-align: center;
  margin-top: 10%;
}

.links{
  text-align: right;
}

input{
  border-radius: 25px;
  border: 1px solid grey;
  margin-top: 5px;
}

#text{
  width:400px;
}

img{
  height: 40%;
  width: 40%;
}
